body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  background:white;
  color: #111;
  width: 100%;
  max-width: 1800px;
  font-family: "Questrial", sans-serif;
}

body * {
  transition: all 300ms ease-in-out;
}

.texte-center p{
  font-size: 13px;
  color:black;
}
header {
    background: url("https://updown12.s3.us-east-2.amazonaws.com/Background2.jpg")center;
    background-size: 100%;  
    height: 640px;
  }
  header .header-data {
    text-indent: 50px;
    color: white;
    width: 100%;
    text-align: justify;
    padding-top: 14%;
    margin: 0 auto;
    text-align: left;
  }*
  .text-center h1{
    color:#1178BF;
  }
  .text-center{
    color:black;
  }
  table {
    border-width:1px; 
    border-style:solid; 
    border-color:black;
    width:25%;
    text-align: justify;
    }
.Profile{
  text-align: justfy;
}
.texte-center button{
color:black;
margin-left: 50px;
  }
  .text-center h6{
    color:white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
  }
  header .header-data h1 {
    font-size: 55px;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
  }
  button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .imgs-bar button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: left;
    margin-left: 570px;
  }
  .text-center button{
    margin-left: 0;
  }
  .container {
    padding: 0px ;
    text-align: center;
  }
header .back{
  background: url("https://updown12.s3.us-east-2.amazonaws.com/personnes3.jpg");
  background-size: 135%; 
}
.back button{
  background-color:#1178BF;
  margin-left: 9px;
}
.navbar-brand {
  color:#1178BF;
}
header .back1{
  background: url("https://updown12.s3.us-east-2.amazonaws.com/personnes3.jpg");
  background-size: 135%; 
}
.back1 button{
  background-color:#1178BF;
  margin-left: 1px;
}

  .container1{
    width: 60%;
    margin-top: 0px;
    margin-left:295px;
    background: url("https://updown12.s3.us-east-2.amazonaws.com/Services.jpg");
    height: 450px;
    background-size: 105%;
  }
  .img-section {
    width: 100%;
    margin-top: 40px;
    background: url("https://updown12.s3.us-east-2.amazonaws.com/UpDown.png");
    height: 700px;
    background-size: 100%;
  
  }
  .imgs-bar {
    margin-top: 40px;
    background: url("https://updown12.s3.us-east-2.amazonaws.com/personnes2.jpg");
    background-size: 100%;
    height: 500px;
    text-indent: 400px;
    color: white;
    width: 100%;
    text-align: justify;
    padding-top: 15%;
  }
  .imgs-bar img {
  
    margin: 10px;
    display: inline-block;
    width: 20%;
  }
  .imgs-bar h1{
    font-size: 40px;
    text-align: left;
    margin-left: 20px;
    background-size: 100%;
  }
  section {
    margin: 40px 0;
  } 

.btn {
  margin-left:400px; 
}

.Profile{
  display: block;
  
  font-style: initial;
  margin-left: 510px;
   color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  
}
.Profile h1{
  font-size: 40px;
}
.Profile1{
  background:url("https://updown12.s3.us-east-2.amazonaws.com/reit-insight-background.jpg");
  background-size: 100%;
  width: 100%;
  
}
.Profile1 button{
  font-size: 30px;
}
